[submodule "utils/fbms"]
	path = utils/fbms
	url = https://bitbucket.org/devalab/fbms/
[submodule "git-state"]
	path = git-state
	url = https://github.com/achalddave/git-state
[submodule "detectron_pytorch"]
	path = detectron_pytorch
	url = https://github.com/achalddave/segment-any-moving_detectron/
